html {
	background-color: rgb(247, 245, 241);

	font-family: monospace;

	cursor: crosshair;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;

	margin: 0;
	padding: 0;
	overflow: hidden;
	transform-style: preserve-3d;
}

#text-holder {

	transform-style: preserve-3d;
	perspective: 1000px;

	height: 100vh;
	width: 100vw;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	white-space: pre;

	div { // for the lines
		transition: transform 0.5s;
		transform: translateY(0px);
		color: rgb(126, 126, 126);

		transform-style: preserve-3d;
		// perspective: 1000px;

		div { // for the letters
			transform-style: preserve-3d;
			// perspective: 1000px;
			transition: all 0.2s;
		}
	}
}

.selectedLine {
	font-weight: bold;
	scale: 1.5;
}

.selectedLine2 {
	font-weight: bold;
	scale: 1.2;
}

.textLetter.readingLine {
	font-weight: bold !important;
	animation-play-state: paused !important;
	scale: 1.5 !important;
	// font-size: 1.5em !important;
	// margin: 0 !important;
	// padding: 0 !important;
	color: rgb(0, 0, 0) !important;
	background-color: rgba(255, 255, 255, 0) !important;
	opacity: 1 !important;
	font-style: normal !important;
	// transform: translateY(0px) scale3d(1.3, 1.3, 1) !important;
	// animation-play-state: paused?
}

.bolded {
	font-weight: lighter;
	// font-style: italic;
	opacity: 0.8;
}

.bolded2 {
	font-weight: bold;
	opacity: 0.5;
}

@keyframes rescale {
	0%, 100% {scale: 1.3;}
	50% {scale: 1;}
}

.textLetter {
	text-align: center;
	animation: rescale 1s infinite;
}

.next {
		position: absolute;
		right: 60px;
		bottom: 60px;
		cursor: pointer;
		font-size: 20px;
		font-weight: bold;
		color: black !important;
		opacity: 0.5;
	}

.title {
		position: absolute;
		left: 60px;
		top: 60px;
		font-size: 20px;
		font-weight: bold;
		color: black !important;
		opacity: 0.5;
		margin: 0;
		padding: 0;
		h1 {
			margin: 0;
			padding: 0;
		}
		h3 {
			margin: 0;
			padding: 0;
		}
}