* {
	font-size: 1.5rem;
	font-family: Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}

body {
	margin: 2%;
	background-color: rgb(255, 249, 238);
	overflow: hidden;
}

.title {
	font-size: 1rem;
	text-align: center;
	position: absolute;
	// width: 100%;
	top: 1rem;
	left: 1rem;
	color: rgb(61, 58, 53);
	opacity: 0.3;
}

.next {
	font-size: 1rem;
	text-align: center;
	position: absolute;
	// width: 100%;
	top: 1rem;
	right: 1rem;
	color: rgb(61, 58, 53);
	opacity: 0.3;
	z-index: 10;
	text-decoration: none;
}

.next:hover {
	opacity: 0.6;
}

a {
	text-decoration: none;;
}

// 01 : Disruption

.cell-box {
	display: flex;
	position: absolute;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	gap: 10px;

	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 10%;
}

.cell-inner-box {
	display: flex;
	/* position: absolute; */
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	gap: 10px;
	/* background-color: royalblue; */

	width: 100%;
	height: 100%;

	flex-shrink: 2;

	&.i1 {
		flex-shrink: 1.7;;
	}
}

.cell {
	background-color: rgb(61, 58, 53);
	border-radius: 1rem;
	width: 100%;
	height: 100%;

	transition: 0.2s;
	transition-timing-function: ease-in-out;

	flex-shrink: 2;

	opacity: 0.9;

	&.c1 {
		background-color: rgb(95, 93, 90);
	}
	&.c2 {
		flex-shrink: 1.5;
		background-color: rgb(59, 51, 45);
		// background-color: lightcoral;
	}
	&.c4 {
		background-color: rgb(66, 65, 63);
	}
	&.c5 {
		flex-shrink: 1.5;
		background-color: rgb(94, 89, 89);
	}
}

.cell:hover {
	border-radius: 0rem;
	opacity: 1;
}

.cell:active {
	transform: scale(0.9);
	border-radius: 3rem;
}

.cell:focus {
	transform: perspective(10rem) rotateX(100deg) rotateY(80deg) rotateZ(20deg);
	opacity: 0.5;
	flex-shrink: 1;

	pointer-events: none;;

	&.small {
		transform: perspective(10rem) rotateX(100deg) rotateY(80deg) rotateZ(20deg) scale(5);
	}
	&.left {
		transform: perspective(10rem) rotateX(-100deg) rotateY(-80deg) rotateZ(-20deg) scale(1);
	}
}

// 02 : Lift

.C02 {

	&.circle {
		border-radius: 50%;
		position:absolute;
		display: absolute;
		margin: auto;
		top: 0; bottom: 0; left: 100px;
		height: 80vh;
		width: 80vh;
		background-color: rgb(199, 171, 171);
		opacity: 0.5;
		z-index: -10;
		transition: 0.4s;;

		&:hover {
			opacity: 0.3;
			transform: scale(1.1);
		}
	}

	&.frame {
		top: 0;
		left: 0;
		position: absolute;
		height: 100vh;
		width: 100vw;
		background-color: rgb(255, 255, 255);
		z-index: -1;
		display: flex;
		padding-left: 70px;

		gap: 70px;;

		transform:
			perspective(500px)
			rotateX(30deg)
			rotateY(10deg)
			rotateZ(10deg)
			scaleY(3)
			scaleX(0.5)
			translateX(300px)
			translate3d(0,-350px,0);
	}

	&.vert {
		display: flex;
		flex-direction: column;
		height: 100%;
		width: 100%;
		background-color: gray;
		flex-shrink: 5;
		transition: 0.5s;;

		&.a {
			background-color: rgb(255, 114, 79);
		}
		&.b {
			background-color: rgb(238, 229, 144);
		}
		&.c {
			background-color: rgb(168, 132, 125);
		}
		&.d {
			background-color: rgb(255, 146, 146);
		}
		&.e {
			background-color: rgb(214, 172, 130);
		}
	}
	&.vert:hover {
		transform: scaleX(1.1);
	}

	&.slice {
		flex-shrink: 5;
		height: 100%;
		width: 100%;
		transition: 1s ease-out;
		&.top {
			// background-color: rgba(255, 130, 130, 0.466);

			&.a {
				flex-shrink: 5;
				background-color: rgba(255, 229, 229, 0.466);
			}
			&.b {
				flex-shrink: 1;
				background-color: rgba(177, 150, 109, 0.466);
			}
			&.c {
				flex-shrink: 2;
				background-color: rgba(177, 109, 109, 0.466);
			}
			&.d {
				flex-shrink: 0.5;
				background-color: rgba(255, 245, 203, 0.466);
			}
			&.e {
				flex-shrink: 1.3;
				background-color: rgba(255, 197, 197, 0.466);
			}
		}
	}
	&.slice:hover {
		flex-shrink: 0 !important;
	}
}

// 03 : Subtraction

.C03 {
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
	margin: auto;
	background-color: rgb(126, 77, 77);

	z-index: -10;
	// cursor: -webkit-grab;
	// cursor: -moz-grab;

	.circle-grid {
		display: flex;
		width: 100%;
		height: 100%;
		background-color: rgb(255, 255, 255);
		justify-content: center;
		align-items: center;

		.circle {
			width: 200px;
			height: 200px;
			border-radius: 100%;
			background-color: rgb(79, 255, 196);

			transform: scale(2.4);
			mix-blend-mode: multiply;
			// cursor: crosshair;
			transition: 1s;

			&.a {
				background-color: rgb(255, 79, 79);
			}
			&.b {
				background-color: rgb(255, 255, 255);
				mix-blend-mode: normal;
				&:hover {
					// background-color: rgb(0, 0, 0);
					// mix-blend-mode: multiply;
					scale: 1.9;
				}
				&:hover + .c {
					scale: 1.9;
					opacity: 0;
				}
			}
			&.c {
				background-color: rgb(79, 79, 255);
				pointer-events: none;
			}
		}
	}
}

// 04 : Migration

.C04 {
	cursor: crosshair;

	.desc {
		position: absolute;
		margin: auto;
		left: 5vw;
		opacity: 0.3;
		transition: 1s;
		&:hover {
			opacity: 1;
			transform: translatex(10px);
		}
		&.ish2 {
			margin-top: 150px;
			font-size: 1rem;
			font-weight: normal;
			// display: none;
		}
	}

	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
	margin: auto;
	// background-color: rgb(126, 77, 77);
	z-index: -10;
	// padding: 100px;
	.migrate-box {
		height: 100vh;
		width: 100vw;
		display: flex;
		justify-content: space-around;
		align-items: center;
		padding: 20px;
		
		// gap: 20px;
		// padding: 20px;
		flex-direction: column;
		.migrate {
			width: 100px;
			height: 100px;
			border-radius: 100%;
			background-color: #978c8c00;
			// margin: auto;
			animation-name: migrateAnim;
			animation-duration: 2s;
			animation-iteration-count: infinite;
			animation-timing-function: cubic-bezier(0,.57,1,.48);
			animation-direction: normal;
			transition: 0.2s;
			background-color: #ffffff00;
			opacity: 0.2;
			padding: 0px;
			cursor: grabbing;
			&:hover {
				opacity: 1 !important;
				animation-play-state: paused;
				border-radius: 10%;
				filter: blur(0px) !important;
			}
			&:active {
				// opacity: 0;
				// padding: 10px;
				animation-play-state: paused;
				width: 80px;
				height: 80px;
				margin: 10px;
				// cursor: wait;
			}
			// &:focus {
			// 	animation-play-state: paused;
			// 	opacity: 0.7 !important;
			// 	border-radius: 50%;
			// 	// width: 80px;
			// 	// height: 80px;
			// 	// margin: 10px;
			// 	cursor: wait;

			// }
			// flex-shrink: 10;
			&.a {
				animation-delay: .1s;
				// display: none;
			}
			&.b {
				animation-delay: 0.5s;
				scale: 1.6;
				opacity: 0.25;
				filter: blur(2px);
			}
			&.c {
				animation-delay: 0s;
				scale: 0.9;
			}
			&.d {
				animation-delay: 1.6s;
				scale: 1;
			}
			&.e {
				animation-delay: 0.8s;
				scale: 2;
				// box-shadow: 0 0 5px 10px rgb(255, 255, 255);
				opacity: 0.3;
				filter: blur(5px);
			}

			&.f {
				animation-delay: 1s;
				scale: 0.6;
				opacity: 0.05;
				filter: blur(5px);
			}
			&.g {
				animation-delay: 0.2s;
				scale: 1.1;
				filter: blur(2px);
			}
			&.h {
				animation-delay: 0.3s;
				scale: 0.7;
				filter: blur(2px);
				opacity: 0.1;
			}
			&.i {
				animation-delay: 1.3s;
				// opacity: 0;
				// display: none;
			}
		}
	}
}

@keyframes migrateAnim {
	0% {
		transform: translateX(-50vw) translateY(50vh) rotateZ(-40deg) rotateX(-45deg) scale(0.8);
		background-color: #000000;
	}
	// 50% {
	// 	transform: translateX(0vw) translateY(0px) scale(1.2);
	// 	background-color: #978c8c;
	// }
	100% {
		transform: translateX(50vw) translateY(-50vh) rotateZ(-40deg) rotateX(45deg) scale(1);
		background-color: #00000081;
	}
	
}


		.frozen {
			animation-play-state: paused;
			opacity: 0.7 !important;
			border-radius: 50%;
			// width: 80px;
			// height: 80px;
			// margin: 10px;
			cursor: wait;
			filter: blur(0px) !important;

		}
		.blurred {
			filter: blur(15px) brightness(100) !important;
		}
		.subtleblur {
			filter: blur(5px) !important;
		}